{% extends 'base.html' %}


{% block content %}

<div class="row center-align">
    <div class="col s12 center-align">
        <div class="col s12 m6 center-align">
            <h4>Customer Database</h4>
            <input type="text" class="search" placeholder="Search">
            <table>
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Email:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscriber in subscribers %}
                        <tr>
                            <td>{{subscriber.name}}</td>
                            <td>{{subscriber.email}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}